#main-page {
	background: url(http://localhost/CMSC389N/GameMart/images/cover.jpg) no-repeat center center fixed;
	background-size: cover;
}

.login-border {
	border: 10px solid #3399ff;
	background-color: #669999;
	border-style: ridge;
 	padding: 10px;
 	margin: 0 auto ;
	position: relative;
	text-align: center;
	vertical-align: middle;
	
	width: 300px;
}

#show {
	font-size: 30px;
	color: red;
	text-align: center;
	border: 2px solid #3399ff;
	background-color: black;
}


#page-color {
	background-color: #33adff;
}
.btn-home {
	position: absolute;
	top: 8px;
right: 16px;
}

h1 {
	text-shadow:  2px 2px 4px gray;
}

#border-welcome {
	border: 5px solid black;
	border-style: ridge;
	width: 500px;
	height: 300px;
	padding-left: 80px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.label {
	color: #333;
    background-color: #fff;
    border-color: gray;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

input[type=file] {
	position: absolute;
	right: -40px;
	top: 155px;
}